{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
    <h1 align="center">Notes</h1>
    <ul class="list-group list-group-flush" id="notes">
        {% for note in notes %}
            <li class="list-group-item">
                {{ note.data }}
                {% if user.role == "Admin" %}
                    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
                        <span aria-hidden="true">&times;</span>
                    </button>
                {% endif %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Готово
                    </label>
                </div>
            </li>
        {% endfor %}
    </ul>
    <form method="POST">
        {% if user.role == "Admin" %}
            <textarea name="note" id="note" class="form-control"></textarea>
            <br/>
            <div align="center">
                <button type="submit" class="btn btn-primary">Add Note</button>
            </div>
        {% endif %}
    </form>
{% endblock %}
